html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
  }

.pano-image {
    width: 100%;
    height: 100%;
}

.panolens-container {
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    color: #ff0066;
    font-size: 2.25rem;
    top: -20px;
    left: 30px;
    z-index: 1;
}



@media only screen and (max-width: 850px) {

    .logo {
        position: absolute;
        color: #ff0066;
        font-size: 1rem;
        top: 5px;
        left: 30px;
    }

    }

