/*--parametros generales del cuerpo de imagenes 360--*/


.main {
	
	left: 1vh;
	margin-top: 160px;
	position: relative;
	height: 100%;
	width: 99.1%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, 30vh);
	grid-gap: 1vh;	
}
.box-img iframe{
	height:100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	transition: all 2s;
}



.box-img video{
	margin-top:0;
	margin-left: 0;
	height:100%;
	width: 100%;
	object-fit: none;
	cursor: pointer;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	
}
#iframe1 {
	grid-row: 1/3;
	grid-column: 1/3;}

#iframe2 {
	grid-row: 1/3;
	grid-column: 3/5;}

#iframe3 {
	grid-row: 3/5;
	grid-column: 1/3;}
	
#iframe4 {
	grid-row: 3/5;
	grid-column: 3/5;}
	
#iframe5 {
	grid-row: 5/7;
	grid-column: 1/3;}

#iframe6 {
	grid-row: 5/7;
	grid-column: 3/5;}

#iframe7 {
	grid-row: 7/9;
	grid-column: 1/3;}
		
#iframe8 {
	grid-row: 7/9;
	grid-column: 3/5;}

/*--tablet responsive--*/


/*--mobile responsive--*/

@media only screen and (max-width: 850px) {

.main {
	display: flex;
	flex-direction: column;
	margin-top: 90px;
	width: 96.5%;
	height: 100%;
}

.box-img iframe{
	height:300px;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	transition: all 2s;
}




}