
/*--parametros generales about--*/




.autores {
	position: relative;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}
.rodrigo {
	margin-top: 1vh;
	position: relative;
	display: flex;
	height: auto;
	background-color: black

}

.insidebox {
	position: relative;
	display: flex;
	flex-direction: column;
}

.icons{
	margin-top: 40px;
	margin-left: 10.5%;
	margin-bottom: 20px;
}


.icons i{
	margin-left: 25px;
	color: white
}

.icons i:hover {
	transform: scale(1.2);
}

.rodrigo p{
	width:40%;
	position: relative;
	margin-top: 30px;
	margin-left: 12%;
	color: white;
	font-size: 15px;
	font-weight: .2px;
	text-align: justify;
}

.rodrigo h2{
	letter-spacing: 4px;
	margin-left: 12%;
	margin-top: 80px;

	width:80vh;
	color:white;
	font-weight: 1px;
	text-align: justify;
}

.rodrigo img{

	margin: 10px;
	width: 25%;
	height: 25%;
}


.andres {
	margin-top: 1vh;
	position: relative;
	display: flex;
	height: auto;
	background-color: black

}

.andres p{
	font-size: 15px;
	width:40%;
	position: relative;
	margin-top: 30px;
	margin-left: 12%;
	color: white;
	font-weight: 1px;
	text-align: justify;
}

.andres h2{
	
	letter-spacing: 4px;
	margin-top: 50px;
	margin-left: 12%;
	width:80vh;
	color: white;
	font-weight: 1px;
	text-align: justify;
}

.andres img{
	margin: 10px;
	width: 25%;
	height: 25%;
}

/*--tablet responsive--*/


/*--mobile responsive--*/

@media only screen and (max-width: 900px) {

	.autores {
		position: relative;
		margin-top:90px;
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
	}
	.rodrigo img{
		display: none;
		margin: 10px;
		width: 15%;
		height: 15%;
	}
	.rodrigo h2{
		letter-spacing: 4px;
		margin-left:0;
		margin-top: 80px;
		width:100%;
		color:white;
		font-weight: 1px;
		text-align: center;
	}
	.icons i{
		margin-left: 0;
		color: white
	}
	.rodrigo {
		display: flex;
		flex-direction: column;
	}
	.rodrigo p{
		width:80%;
	}
	.icons{
		width: 100%;
		display: flex;
	
		text-align: center;
		margin-top: 20px;
		margin-bottom: 30px;
		margin-left: 0%;	
	}

	.andres p{
		width:80%;
	}
	.andres img{
		display: none;
		margin: 10px;
		width: 15%;
		height: 15%;
	}

	.andres h2{
		letter-spacing: 4px;
		margin-left:0;
		margin-top: 80px;
		width:100%;
		color:white;
		font-weight: 1px;
		text-align: center;
	}

	.andres {
		display: flex;
		flex-direction: column;
	}
}