
/*--parametros generales about--*/



.main-artist {
	width: 100%;
}
.autores {
	position: relative;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}
.insidebox{
	width: 100%;
	display: flex;
	justify-content: space-around;
	
}
.fotoyo{
	margin-left: 10%;
}

.textoyo {
	width: 100%;
	margin-top: 5%;
	margin-left: 20%;
}
.top-about{
	margin-top: 250px;
	width: 100%;
	text-align: center;
}

.top-about h1{
	margin-top: 50px;
}
.top-about p{
	margin-top: 40px;
	margin-left: 25%;
	width: 50%;
	text-align: justify;
}


.rodrigo {
	display: flex;
	height: auto;
	width: 100%;
	background: rgb(65,63,88);
	background: radial-gradient(circle at 25% 70%, rgb(55, 53, 75) 2%, rgba(15,21,22,1) 35%);
}

.icons{
	margin-top: 40px;
	margin-bottom: 20px;
}


.icons i{
	margin-left: 25px;
	color: white
}

.icons i:hover {
	transform: scale(1.2);
}

.rodrigo p{
	min-width: 200px;
	width:50%;
	position: relative;
	margin-top: 30px;
	color: white;
	font-size: 15px;
	font-weight: .2px;
	text-align: justify;
}

.rodrigo h2{
	letter-spacing: 4px;
	
	margin-top: 20px;

	color:white;
	font-weight: 1px;
	text-align: justify;
}

/*--tablet responsive--*/


/*--mobile responsive--*/

@media only screen and (max-width: 1200px) {

	.insidebox{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		
	}
	.fotoyo{
	margin-left: 0%;
}

.fotoyo img{
	width: 100%;
}

.textoyo {
	width: 75%;
	margin-top: 5%;
	margin-left: 25%;
	align-items: center;

}

.textoyo p{
	

}

.top-about{
	margin-top: 250px;
	width: 100%;
	text-align: center;
}
}