
/*--parametros generales about--*/




.autores {
	position: relative;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}
.rodrigo {
	margin-top: 1vh;
	position: relative;
	display: flex;
	height: auto;
	background-color: #D8D8D8

}

.insidebox {
	position: relative;
	display: flex;
	flex-direction: column;
}

.icons{
	margin-top: 40px;
	margin-left: 10.5%;
}


.icons i{
	margin-left: 25px;
	color: black
}

.icons i:hover {
	transform: scale(1.2);
}

.rodrigo p{
	width:40%;
	position: relative;
	margin-top: 30px;
	margin-left: 12%;
	color: black;
	font-size: 15px;
	font-weight: .2px;
	text-align: justify;
}

.rodrigo h2{
	letter-spacing: 4px;
	margin-left: 12%;
	margin-top: 80px;

	width:80vh;
	color:black;
	font-weight: 1px;
	text-align: justify;
}

.rodrigo img{

	margin: 10px;
	width: 25%;
	height: 25%;
}


.andres {
	margin-top: 1vh;
	position: relative;
	display: flex;
	height: auto;
	background-color: #D8D8D8

}

.andres p{
	font-size: 15px;
	width:40%;
	position: relative;
	margin-top: 30px;
	margin-left: 12%;
	color: black;
	font-weight: 1px;
	text-align: justify;
}

.andres h2{
	
	letter-spacing: 4px;
	margin-top: 50px;
	margin-left: 12%;
	width:80vh;
	color: black;
	font-weight: 1px;
	text-align: justify;
}

.andres img{
	margin: 10px;
	width: 25%;
	height: 25%;
}

/*--tablet responsive--*/

@media only screen and (max-width: 1000px) and (min-width: 850px)  {

}

/*--mobile responsive--*/

@media only screen and (max-width: 850px) {

