/*--parametros generales del cuerpo de imagenes--*/

.main {
	margin-top: 250px;
	height: 100%;
	width: 100%;	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.formulario {
	width: 40%;
}



.label1, input, textarea {
	margin-left: 5%;
	text-align: center;
	font-size: 15px;
	width: 80%;
	line-height: 40px;
	margin-top: 20px;
}
.status {
	color: red;
	text-align: center;
	font-size: 15px;
}
.submit {
	width: 80%;
	margin-left: 10%;
	cursor: pointer;
	margin-top: 20px;
	height: 40px;
	border: none;
	background-color: black;
	color: white;
	transition: .6 ease-in-out
}

#uploading{
	color: green;
	margin-top: 20px;
	width: 50%;
	margin-left: 30%;
}
.submit:hover {
	background: rgb(255, 255, 255);
	color: black;
	transition: .3s ease-in-out;
	border: solid 1px black;
}
.file {
	margin-left: 10%;
	width: 80%;
	text-align: center;
}
.upload-files{
	width: 80%;
	margin-left: 10%;
	text-align: center;
}

.input-file {
	width: 80%;
	margin-left: 10%;

	text-align: center;

}

.send-button{
	margin-left: 10%;
	width: 80%;
	align-items: center;
	align-self: center;

	text-align: center;
}
/*--tablet responsive--*/
progress {
	margin-left: 10%;
	margin-top: 20px;
	background-color: #f3f3f3;
	border: 0;
	height: 18px;
	width: 80%;
	border-radius: 9px;
  }
progress[value]::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

/*--mobile responsive--*/
@media only screen and (max-width: 900px) {


	.main {
		margin-top: 150px;
		height: 100%;
		width: 100%;	
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.formulario {
		width: 90%;
	}


}