/*--parametros generales del cuerpo de imagenes--*/

.main {
    text-align: center;
    position: relative;
	height: 100%;
	width: 100%;	
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	margin-top: 250px; 
} 
.text-information {
    margin-bottom: 20px;
	text-align: center;
}    
.main p2{
	text-align: justify;
	letter-spacing: 1px;
	font-size: 13px;
	width: 40%;
	line-height: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
.titles {
	text-align: center;
}
#optionvalue {
	border-radius: 50px;
	text-align: center;
}
select {
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center; 
}	
#model {
	border-radius: 50px;
	height: 25px;
	width: 180px;
	text-align: center;
	color: white;
	background-color:black;
}
#units {
	border-radius: 50px;
	height: 25px;
	width: 60px;
	text-align: center;
	color: white;
	background-color:black;
}
#metros {
	border-radius: 50px;
	height: 25px;
	width: 113px;
	text-align: center;
	color: white;
	background-color:black;
}
#experience {
	border-radius: 50px;
	height: 25px;
	width: 180px;
	text-align: center;
	color: white;
	background-color:black;
}
.model-select {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 20px;
}
.experience-select {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
#prices-form {
	width: 40%;	
}
.amount-interior {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.amount-interior input{
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 50px;
	height: 20px;
	width: 175px;
}
.amount-exterior input{
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 50px;
	height: 20px;
	width: 175px;
}
.amount-exterior {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
button {
	margin-top: 30px;
	background-color: black;
	color: white;
	height: 40px;
	width: 180px;
	border-radius: 50px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover {
background-color: white;	
color: black;
height: 40px;
width: 180px;
border-radius: 50px;
transition: .3s;
}
.square-meters{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
.price {
	margin-top: 30px;
}
.price input{
	width: 100%;
	text-align: center;
	height: 50px;
	border-radius: 50px;
	font-size: 30px;
}
.p3 {
	margin-top: 60px;
	text-align: center;
	font-size: 14px;
}
.p4 {
	border-radius: 5px;
	margin-top: 25px;
	text-align: center;
	background-color: rgb(164, 164, 164);
	color: white;
	font-size: 15px;
}
.bottom {
	margin-top: 30px;
	margin-bottom: 20px;
}
.white {
	height: 30px;
}
/*--tablet responsive--*/
@media only screen and (max-width: 1000px) and (min-width: 850px)  {
}
/*--mobile responsive--*/
@media only screen and (max-width: 850px) {
/*cuerpo*/	
.text-information {
	margin-bottom: 20px;
	text-align: center;
}    	
.main p2{
	text-align: justify;
	letter-spacing: 1px;
	font-size: 13px;
	width: 85%;
	line-height: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
.titles {
	text-align: center;
}
#optionvalue {
	border-radius: 50px;
	text-align: center;
}
select {
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
}
.square-meters label{
		margin-top: 8px;
}		
.square-meters{
	display: flex;
	flex-direction: column;
	align-items: center;		
	text-align: center;
	margin-bottom: 20px;
}
#model {
	margin-right: 0;
	border-radius: 50px;
	height: 25px;
	width: 180px;
	text-align: center;
	color: white;
	background-color:black;
	margin-top: 20px;
}
.model-select {
	display: flex;
	flex-direction: column;
	align-items: center;		
	text-align: center;
	margin-bottom: 16px;
}	
.model-select label{
	margin-top: 8px;
}
#experience {
	border-radius: 50px;
	height: 25px;
	width: 180px;
	text-align: center;
	color: white;
	background-color:black;
	margin-top: 20px;
}	
.experience-select {
	display: flex;
	flex-direction: column;
	align-items: center;		
	text-align: center;
}
.experience-select label{
	margin-top: 8px;
}	
#prices-form {
	width: 80%;
	display: flex;
	flex-direction: column;	
}
.amount-interior {	
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.amount-interior input{
	margin-top: 20px;
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 50px;
	height: 20px;
	width: 175px;
}
.amount-exterior input{
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 50px;
	height: 20px;
	width: 175px;
	margin-top: 20px;
}
.amount-exterior {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}
.square-meters label{
	margin-bottom: 20px;
}
button {
	margin-top: 30px;
	background-color: black;
	color: white;
	height: 40px;
	width: 180px;
	border-radius: 50px;
	cursor: pointer;	
}	
button:hover {
	margin-top: 30px;
	background-color: black;
	color: white;
	height: 40px;
	width: 180px;
	border-radius: 50px;
	cursor: pointer;	
}
.price {
	margin-top: 30px;
}
.price input{
	width: 100%;
	text-align: center;
	height: 50px;
	border-radius: 50px;
	font-size: 30px;	
}	
.p3 {
	margin-top: 60px;
	text-align: center;
	font-size: 14px;
}
.p4 {	
	margin-top: 25px;
	text-align: center;
	font-size: 15px;
}
.bottom {
	margin-top: 30px;
	margin-bottom: 20px;
}
.white {
	height: 30px;	
}

}