/*--parametros generales del cuerpo de imagenes--*/


.main {
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
	}
.main li{
	margin-top: 150px;
	display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -60%;
		width: 60%;
	
		z-index: 0;
	}
	
.toptext{
	margin-top: 200px;
	width: 100%;
	text-align: center;
}

.fb-post {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

footer{
	margin-top: 30vh;
}



/*--tablet responsive--*/


/*--mobile responsive--*/
