/*--parametros generales del cuerpo de imagenes--*/


.main {
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
	}
.main li{
	margin-top: 150px;
	display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -60%;
		width: 60%;
		font-family: 'Crimson Text', serif;
		font-weight: 700;
		font-size: 48px;
		color: #fff;
		text-shadow: 2px 2px 0px #0083cd;
		font-style: italic;
		text-align: center;
		z-index: 0;
	}
	
.toptext{
	margin-top: 200px;
	width: 100%;
	text-align: center;
}

.fb-post {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

footer{
	margin-top: 30vh;
}



/*--tablet responsive--*/


/*--mobile responsive--*/
@media only screen and (max-width: 900px) {

.toptext{
		margin-top: 120px;
		width: 100%;
		text-align: center;
	}
.main {
		width: 100%;
		height: 200px;
		display: block;
		position: relative;
		}
.fb-post {
    margin-left: 0;
	
}

.main li{
	margin-top: 150px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-80%);
	right: -70%;
	width: 75%;
	z-index: 0;
	}
		
	



}