/*--parametros generales del cuerpo de imagenes--*/


.main {
	width: 100%;
	height: 200px;
	display: block;
	}

	
.toptext{
	margin-top: 200px;
	width: 100%;
	text-align: center;
}

.comments {
	width: 100%;
	height: 300px;
	text-align: center;
	margin-top: 70px;
	transition:  ease-in-out 0.6s ease;
}

.comments-1{
	margin-left: 25%;
	width: 50%;
	margin-top: 150px;

}
.comments-1 p{
	
	font-size: 1.2rem;
	margin-top: 20px;
	
	color: white;

}

blockquote {
	border:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-bottom:0px;
	}
	
	blockquote p {
		
		font-size:1rem;
	}
	
	blockquote p:before { 
	
		content: open-quote;
		font-weight: bold;
		font-size:50px;
		color:#ff0066;
	} 
	blockquote p:after { 
		content: close-quote;
		font-weight: bold;
		font-size:50px;
		color:#ff0066;
	}

.clients {
	height: auto;
	margin-top: 50px;
	display: flex;
	width: 100%;
	flex-direction: column;
}

.paragraph-author  p{
	
	background-color: red;
	margin-top: 200px;
}
.clientes-flex {
	text-align: center;
	justify-content: space-around;
	display: flex;
}
.clients img{
	margin-top: 40px;
	width: 50%;
	height: auto;
}
.comments-1 a{
	color: #ff0066;
	text-decoration: none;

}

 /* Slideshow container */
 .slideshow-container{

	 margin-top: 50px;
	 background: rgb(65,63,88);
	 background: radial-gradient(circle at 50% 70%, rgb(55, 53, 75) 2%, rgba(15,21,22,1) 100%);
 }
  /* Slides */
  .mySlides {
	display: none;
	padding: 80px;
	text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 53%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color:white;
	color: black;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
	  margin-top: 100px;
	  text-align: center;
	  padding: 20px;
	
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
	background-color: #717171;
  }
  
footer{
	margin-top: 15vh;
}

/*--tablet responsive--*/
@media only screen and (max-width: 1200px) and (min-width: 700px)  {
	.toptext{
		margin-top: 120px;
		width: 100%;

		text-align: center;
	}
	.comments-1{
		margin-left: 25%;
		width: 50%;
		margin-top: 100px;
	
	}
	.comments {
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom: 100px;
	}
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 370px;
		width: auto;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 30px;
		border-radius: 0 3px 3px 0;
		user-select: none;
	  }

}

/*--mobile responsive--*/
@media only screen and (max-width: 850px) {

	.toptext{
		margin-top: 120px;
		width: 100%;

		text-align: center;
	}
	
	blockquote {
		border:none;
		font-family:Georgia, "Times New Roman", Times, serif;
		margin-bottom:0px;
		}
		
	
		
		blockquote p:before { 
		
			content: open-quote;
			font-weight: bold;
			font-size:25px;
			color:#ff0066;
		} 
		blockquote p:after { 
			content: close-quote;
			font-weight: bold;
			font-size:25px;
			color:#ff0066;
		}
	.comments-1{
		margin-left: 18%;
		width: 65%;
		margin-top: 100px;
	
	}

	.comments-1 p{
		font-size: 15px;
	
	}
	.comments {
		width: 100%;
		height: auto;
		text-align: justify;
		margin-bottom: 100px;
	}
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 425px;
		width: auto;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 15px;
		border-radius: 0 3px 3px 0;
		user-select: none;
	  }
	  .clients {
		height: auto;
		margin-top: 50px;
		display: flex;
		width: 100%;
		flex-direction: column;
	}
	  .clientes-flex {
		text-align: center;
	
		flex-direction: column;
		display: flex;
	}
	.clients img{
		margin-top: 40px;
		width: 30%;
		height: auto;
	}
	  

}