* {
	margin-top: 0;
	padding: 0;
	font-family: century-gothic, sans-serif;
	margin: 0;}

body {
	display: flex;
	flex-direction: column;}


	/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #ff0066; 
	border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
/*--barra fija arriba--*/

.phonenavbar {
	display: none;}

.navbar-noboots {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	height: 150px;
	position: fixed;
	z-index: 9999999;
	width: 100%;
	background: rgb(65,63,88);
	background: radial-gradient(circle at 50% 50%, rgb(40, 38, 53) 15%, rgb(20, 26, 26) 60%);
	justify-content: center;
	border-bottom: 0px solid #000;
	border-top: 0px solid #000;
	transition: .5s;	
}	

.sub-menu1 {
	
	background-color: black;
	position: absolute;
	width: 10%;
	display: none;
	opacity: 0;
	
}


.wrapper-2 ul li:hover .sub-menu1{
	transition:all .5s ease-out;
	position: absolute;
	display: block;
	border: .3px solid white;
	border-radius: 20px;
	opacity: 1; /* This keeps the opacity at 1 after the animation has run (e.g. could be considered as the final or default stage of the element) */
   animation: opacity 700ms ease-in-out normal;
   -moz-animation: opacity 700ms ease-in-out normal;
   -ms-animation: opacity 700ms ease-in-out normal;
   -o-animation: opacity 700ms ease-in-out normal;
   -webkit-animation: opacity 700ms ease-in-out normal;    
  

}

@keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}
@-moz-keyframes opacity { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}
@-ms-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-o-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-webkit-keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}


.sub-menu1 ul{	
	width: 100%;
	
}
.dropdown-content {

	text-decoration: none;
	margin-top: 30px;
	list-style: none;
	margin-bottom: 30px;
}
.dropdown-content .currents {
font-weight: bold;
}


/*--barra fija arriba titulo imago--*/
.title {
	width: 100%;
	letter-spacing: 1px;
	font-size: 65px;
	align-self: center;
	font-weight: bold;	
	cursor: pointer;
	margin-bottom: 20px;
}
.title a{
	text-decoration: none;
	color: white;
}


.title a:hover{
	color: white;
	
}


.lazy {
	filter: blur(10px);
}



/*--
.img .blurry-load{
	filter: blur(5px);
	transition: all 4s;
}



.img .noblur{
	cursor: pointer;
	transition: ease-in .3s;
}

.img .noblur:hover{
	cursor: pointer;
	transition: ease-in .1s;
	transform: scale(1.005);
}
-*/

/*--barra fija arriba menu portfolio about 360 contact--*/

.menu {
	display: flex;
	font-size: 15px;
	justify-content: space-between;
	align-self: center;
	width: 40%;
	letter-spacing: 1px;

	margin-top: 0px;
	margin-right: 0;
}

.menu li{
	text-align: center;
	width: 100%;
}

.wrapper-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%
}

.items {
	width: auto;
	list-style: none;}

.items a{
	text-decoration: none;
	color: white;}
	

.items a:hover{
	color: #ff0066;
	transform: scale(1.2);
	
}


.items .currents {
	color:#ff0066;
	
}
.currents li{
	font-weight: bold;
}

/*--barra fija arriba menu social icon--*/

.social-menu {
	top: 115px;
	right: 20px;
	position: absolute;
	display: flex;
	align-self: center;
	justify-content: space-between;
	width: 8%;
	font-size: 15px;}

.social-icon {
	list-style: none;}

.social-icon a{
	color: white;}

#instagram:hover i{	
	transform: scale(1.3);
	color: #ff0066;}

#facebook:hover i{	
	transform: scale(1.3);
	color: #ff0066;}

#linkedin:hover i{
	transform: scale(1.3);
	color: #ff0066;}

#github:hover i{
	transform: scale(1.3);
	color: #ff0066;}

.languagegap {
	display: flex;
	position: absolute;
	top: 20px;
	right: 20px;
}

.language {
	font-size: 13px;
	color: white;
	list-style: none;
}


/*--parametros generales del cuerpo de imagenes--*/


.hes-gallery {
	
	left: 1vh;
	margin-top: 160px;
	position: relative;
	height: 100%;
	width: 99.1%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(28, 1fr);
	grid-gap: 1vh;	}

.img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	transition: all 1s;
}
	

.img {
	transition: all 1s;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;}

#noselectgrid {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
											supported by Chrome, Edge, Opera and Firefox */
		  }




/*lightbox*/

#noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }

/*--efecto hover en imagenes--*/

.img img:hover{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	transition: all 1s;
	transform: scale(1.01);
}




/*--ubicacion de las imagenes--*/

#imagen1 {
	grid-row: 1/2;
	grid-column: 1/2;}
#imagen3 {
	grid-row: 1/2;
	grid-column: 3/5;}
#imagen2 {
	grid-row: 1/3;
	grid-column: 2/3;}
#imagen4 {
	grid-row: 1/3;
	grid-column: 5/6;}
#imagen5 {
	grid-row: 2/3;
	grid-column: 1/2;}
#imagen6 {
	grid-row: 2/4;
	grid-column: 3/5;}
#imagen7 {
	grid-row: 3/4;
	grid-column: 5/6;	}
#imagen8 {
	grid-row: 3/5;
	grid-column: 1/3;}
#imagen9 {
	grid-row: 4/5;
	grid-column: 3/4;}
#imagen10 {
	grid-row: 4/5;
	grid-column: 4/6;}
#imagen11 {
	grid-row: 5/6;
	grid-column: 1/2;}
#imagen12 {
	grid-row: 5/7;
	grid-column: 2/3;}
#imagen13 {
	grid-row: 6/6;
	grid-column: 1/2;}

#imagen14 {
	grid-row: 5/6;
	grid-column: 3/5;}

#imagen15 {
	grid-row: 5/7;
	grid-column: 5/6;}

#imagen16 {
	grid-row: 7/9;
	grid-column: 1/3;}
#imagen17 {
	grid-row: 6/8;
	grid-column: 3/5;}
#imagen18 {
	grid-row: 7/8;
	grid-column: 5/6;}
#imagen19 {
	grid-row: 8/9;
	grid-column: 3/4;}

#imagen20 {
	grid-row: 8/9;
	grid-column: 4/6;}
	
#imagen21 {
	grid-row: 9/10;
	grid-column: 1/2;}
#imagen22 {
	grid-row: 9/11;
	grid-column: 2/3;}
#imagen23 {
	grid-row: 9/10;
	grid-column: 3/5;}
#imagen24 {
	grid-row: 9/11;
	grid-column: 5/6;}
#imagen25 {
	grid-row: 10/11;
	grid-column: 1/2;}
#imagen26 {
	grid-row: 10/12;
	grid-column: 3/5;}
#imagen27 {
	grid-row: 11/13;
	grid-column: 1/3;}
#imagen28 {
	grid-row: 11/12;
	grid-column: 5/6;}
#imagen28b {
	grid-row: 12/13;
	grid-column: 3/4;}
#imagen29 {
	grid-row: 12/13;
	grid-column: 4/6;}
#imagen30 {
	grid-row: 13/14;
	grid-column: 1/2;}
#imagen31 {
	grid-row: 13/15;
	grid-column: 2/3;}
#imagen32 {
	grid-row: 13/14;
	grid-column: 3/5;}
#imagen33 {
	grid-row: 13/14;
	grid-column: 5/6;}
#imagen34 {
	grid-row: 14/15;
	grid-column: 4/6;}
#imagen35 {
	grid-row: 15/16;
	grid-column: 3/5;}
#imagen36 {
	grid-row: 15/16;
	grid-column: 1/3;}
#imagen37 {
	grid-row: 14/15;
	grid-column: 1/2;}
#imagen38 {
	grid-row: 14/15;
	grid-column: 3/4;}
#imagen39 {
	grid-row: 15/16;
	grid-column: 5/6;}

#imagen40 {
	grid-row: 16/17;
	grid-column: 1/2;}

#imagen41 {
	grid-row: 16/17;
	grid-column: 2/4;}

#imagen42 {
	grid-row: 16/17;
	grid-column: 4/6;}

#imagen43 {
	grid-row: 17/18;
	grid-column: 1/2;}
	
#imagen44 {
	grid-row: 17/19;
	grid-column: 2/3;}	

#imagen45 {
	grid-row: 17/18;
	grid-column: 3/5;}	

#imagen46 {
	grid-row: 17/19;
	grid-column: 5/6;}	

#imagen47 {
	grid-row: 18/19;
	grid-column: 1/2;}
		
#imagen48 {
	grid-row: 18/20;
	grid-column: 3/5;}

#imagen49 {
	grid-row: 19/21;
	grid-column: 1/3;}

#imagen50 {
	grid-row: 20/22;
	grid-column: 3/5;}

	
#imagen51 {
	grid-row: 19/21;
	grid-column: 5/6;}

#imagen52 {
	grid-row: 21/22;
	grid-column: 1/3;}

#imagen53 {
	grid-row: 21/22;
	grid-column: 5/6;}

#imagen54 {
	grid-row: 22/23;
	grid-column: 1/2;}

	
#imagen55 {
	grid-row: 22/24;
	grid-column: 2/3;}

#imagen56 {
	grid-row: 23/24;
	grid-column: 1/2;}


#imagen57 {
	grid-row: 22/23;
	grid-column: 3/5;}

#imagen58 {
	grid-row: 22/24;
	grid-column: 5/6;}

#imagen59 {
	grid-row: 23/25;
	grid-column: 3/5;}

#imagen60 {
	grid-row: 24/26;
	grid-column: 1/3;}

#imagen61 {
	grid-row: 25/26;
	grid-column: 3/4;}
		
#imagen62 {
	grid-row: 25/26;
	grid-column: 4/6;}

#imagen63 {
	grid-row: 24/25;
	grid-column: 5/6;}
				
#imagen64 {
	grid-row: 26/27;
	grid-column: 1/2;}
				
#imagen65 {
	grid-row: 26/28;
	grid-column: 2/3;}

#imagen66 {
	grid-row: 27/28;
	grid-column: 1/2;}

#imagen67 {
	grid-row: 26/27;
	grid-column: 3/5;}

#imagen68 {
	grid-row: 26/28;
	grid-column: 5/6;}

#imagen69 {
	grid-row: 27/29;
	grid-column: 3/5;}

#imagen70 {
	grid-row: 28/29;
	grid-column: 1/3;}
	
	
#imagen71 {
	grid-row: 28/29;
	grid-column: 5/5;}
					
	

/*--fin ubicacion de las imagenes--*/


footer {
	height: 100px;
}

footer hr {
	margin-top: 50px;
	width: 90%;
	margin-left: 5%;
}

footer p {
	font-size: 12px;
	margin-top: 15px;
	text-align: center;
}

/*--tablet responsive--*/
@media only screen and (max-width: 1200px) and (min-width: 700px)  {

.menu {
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	align-self: center;
	width: 40%;
	letter-spacing: 1px;}

.hes-gallery {

	left: 1vh;
	margin-top: 160px;
	position: relative;
	height: 100%;
	width: 99.1%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(20, 1fr);
	grid-gap: 1vh;}

	.currentsphone .currents {
		color:#ff0066;;
	}
}




/*--mobile responsive--*/

@media only screen and (max-width: 850px) {


* {
	
	font-family: century-gothic, sans-serif;}
	.currentsphone .currents {
		color:#ff0066;;
	}
.titlephone {
	margin-top: 5px;
	font-size: 50px;
	text-align: left;
	margin-left: 15px;
	color: black;
	text-decoration: none;
	z-index: 99999999;}

.titlephone a {
	color: white;
	text-decoration: none;}

.phonenavbar {
	display: flex;
	justify-content: space-between;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 9999999;
	height: 80px;
	background: rgb(65,63,88);
	background: radial-gradient(circle at 15% 50%, rgb(40, 38, 53) 15%, rgb(20, 26, 26) 60%);
	transition: .5s
}
.nav-toggle {
	display: none;
}
.nav-toggle-label {
	position: sticky;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	margin-right: 25px;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background-color: white;
	height: 3px;
	width: 2em;
	border-radius: 2px;
	position: absolute;
	right: 0;}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content:'';
	position: absolute;	
}
.nav-toggle-label span::before {
	bottom: 7px;
}
.nav-toggle-label span::after {
	top: 7px;
}

.navphone-3 ul{
	list-style-type:none;
	margin-top: 20px;
}
.navphone-3 {
	top: 80px;
	position: absolute;
	left: 0;
	background-color: black;
	opacity: .8;
	width: 100%;
	height: 100vh;
	transform: scale(1,0);
	transform-origin: top;
	transition: 400ms ease-in-out;	
}
.navphone-3 li {

	list-style-type:none;
	height: 2vh;
	margin-top: 3vh;
	margin-bottom: 3.5vh;
	}
.navphone-3 li a {
	list-style-type:none;
	margin-right: 0;
	color: white;
	text-decoration: none;
	font-size: .8rem;
	opacity: 0;
	transition: opacity 50ms ease-in-out;
}
.navbar-noboots {
	display: none;}

.nav-toggle:checked ~ nav {
	transform: scale(1,1);	}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 200ms ease-in-out 200ms;
}
.main {
	width: 96%;
	height: 100vh;}
.hes-gallery {
	margin-top: 85px;
	display: block;
	width: 96%;
}
.img img{
	margin-top: 5px;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;}


.img {
	opacity: 1;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
}
#noselectgrid {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
										supported by Chrome, Edge, Opera and Firefox */
}

.flex-icon {
	margin-right: 0;
	
	display: flex;
	justify-content: space-around;
	
}

.flex-icon {
	
	margin-top: 10px;

	
}

.social-icon i{
	margin-top: 10px;
}


.navphone-3 hr {
	transition: opacity 50ms ease-in-out;
	margin-top: 30px;
	
	margin-left: 0;
	margin-left: 10%;
	width: 80%;
	opacity: .3;
}


.img img:hover{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	transition: all .05s;

}


}


