/*--parametros generales del cuerpo de imagenes 360--*/

.main {
	
	margin-top: 20px;
	width: 50%;
	margin-left: 24%;
	display: flex;
	
}
.box-img img{
	margin-top: 50px;
    margin-left: 14.5%;
	height:50%;
	width: auto;

}

.header-vr {
	margin-top: 250px;
	width: 100%;

	
	text-align: center;
}

.caption {
	margin-top: 50px;
	width: 85%;
	text-align: center;
	
	
}

.caption a{
	text-decoration: none;
	list-style-type: none;
	font-weight: bold;
	color: black;
	
	
}

			

/*--tablet responsive--*/


/*--mobile responsive--*/

@media only screen and (max-width: 850px) {

.main {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	width: 100%;
	height: auto;
	margin-left: 10%;
}

.box-img img{
	margin-left: 10%;
	margin-top: 10px;
    margin-left: 0;
	height:auto;
	width: 80%;
}

.header-vr {
	margin-top: 150px;
	width: 80%;
	background-color: none;
	margin-left: 10%;
	
	text-align: center;
}

.header-vr h1{
	font-size: 1.3rem;
}
.caption {
	margin-top: 20px;
	width: 80%;
	text-align: center;
	
	

}
}